---
layout: default
title: Study Insights
subtitle: test
---

<!-- Prints the first 5 posts tagged 'cfm' regardless of what other posts may be in the top 5 -->
{% assign count = 0 %}
{% for post in site.posts %}
{% if post.tags contains 'cfm' %}
{% include post-display.html %}
{% assign count = count | plus: 1 %}
{% endif %}
{% if count >= 5 %}
{% break %}
{% endif %}
{% endfor %}

<!-- Pager -->
<!-- TODO: Uncomment the below code when you are ready with an archive page for study insights sorted by date (ascending) -->
<!-- <ul class="pager">
    <li>
        <a href="/archive">Post Archive</a>
    </li>
</ul> -->